[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=webapps-app-model
Exec=/usr/bin/single-instance /opt/webapps-app-model/bin/webapps-app-model
Icon=/usr/share/icons/hicolor/80x80/apps/webapps-app-model80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
