[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=webapps-app-model
Exec=/opt/webapps-app-model/bin/webapps-app-model
Icon=webapps-app-model64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
