[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/bin/unity-webapps-qml-launcher $@
Name=Unity Webapps QML Test Launcher
Icon=qmlscene
NoDisplay=true
X-Ubuntu-Touch=true

