Source: unity-webapps-qml
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 gdb,
 libmessaging-menu-dev,
 libnotify-dev,
 liboxideqt-qmlplugin (>= 1.2.0),
 liboxideqtcore0,
 libunity-action-qt1-dev,
 libunity-dev,
 pkg-config,
 python3-setuptools,
 python3:any (>= 3.5),
 qt5-default,
 qt5-qmake,
 qtbase5-dev,
 qtdeclarative5-dev,
 qtdeclarative5-test-plugin,
Standards-Version: 3.9.5
Homepage: https://github.com/ubports/unity-webapps-qml
Vcs-Git: https://github.com/ubports/unity-webapps-qml

Package: unity-webapps-qml
Architecture: any
Depends:
 liboxideqt-qmlplugin (>= 1.3.0) | qml-module-qtwebkit,
 qml-module-qtquick2,
 qml-module-ubuntu-components,
 qml-module-ubuntu-onlineaccounts,
 qtdeclarative5-unity-action-plugin,
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 qml-module-ubuntu-onlineaccounts-client,
 qtdeclarative5-ubuntu-content1,
 qtdeclarative5-ubuntu-download-manager0.1,
Description: Unity Webapps QML component
 Unity Webapps QML is a QML component that binds to a QML WebView and allows
 running javascript code to access Ubuntu stack components.

Package: unity-webapps-qml-examples
Section: libs
Architecture: any
Depends:
 qml-module-qtquick-window2,
 qmlscene,
 unity-webapps-qml (>= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Example usage of Unity Webapps QML component
 Some examples demonstrating the webapps QML component.

Package: unity-webapps-qml-autopilot
Architecture: all
Depends:
 dpkg-dev,
 libautopilot-qt,
 libqt5test5,
 python3-autopilot,
 python3-gobject,
 qml-module-qtquick-window2,
 qmlscene,
 qtdeclarative5-unity-action-plugin,
 unity-autopilot,
 unity-webapps-qml (>= ${source:Version}),
 ${misc:Depends},
 ${python3:Depends},
Description: Autopilot tests for the Unity Webapps QML
 Unity Webapps QML is a QML component that binds to a QML WebView and allows
 running javascript code to access Ubuntu stack components. This package
 contains autopilot tests for it.

Package: qtdeclarative5-ubuntu-webapps-api
Architecture: any
Depends:
 unity-webapps-qml,
Description: Virtual Package depending on Unity Webapps QML Component
 This empty package can be safely removed.
