Source: unity-webapps-qml
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               gdb,
               libmessaging-menu-dev,
               libnotify-dev,
               libqt5webkit5-dev,
	       libunity-action-qt1-dev,
               pkg-config,
               python (>= 2.7),
               python-setuptools,
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-test-plugin,
	       libunity-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/unity-webapp-qml
# If you aren't a member of ~webapps but need to upload packaging changes,
# just go ahead.  ~webapps will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~webapps/unity-webapps-qml/trunk

Package: unity-webapps-qml
Architecture: any
Multi-Arch: same
Depends: libqt5webkit5-qmlwebkitplugin,
         qtdeclarative5-unity-action-plugin,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Unity Webapps QML component
 Unity Webapps QML is a QML component that binds to a QML WebView and allows
 running javascript code to access Ubuntu stack components.

Package: unity-webapps-qml-examples
Section: libs
Architecture: any
Depends: unity-webapps-qml (>= ${binary:Version}),
         qtdeclarative5-window-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Example usage of Unity Webapps QML component
 Some examples demonstrating the webapps QML component.

Package: unity-webapps-qml-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: unity-webapps-qml-examples,
Description: Documentation for Unity Webapps QML - documentation
 Unity Webapps QML component
 .
 This package contains developer documentation.

Package: unity-webapps-qml-autopilot
Architecture: all
Depends: dpkg-dev,
         libautopilot-qt,
         libqt5test5,
         python-gobject,
         qmlscene,
         qtdeclarative5-unity-action-plugin,
         qtdeclarative5-window-plugin,
         unity-autopilot,
         unity-webapps-qml (>= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: Autopilot tests for the Unity Webapps QML
 Unity Webapps QML is a QML component that binds to a QML WebView and allows
 running javascript code to access Ubuntu stack components. This package
 contains autopilot tests for it.
