[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/unity-webapps-qml-launcher --maximized --qml=/usr/share/unity-webapps-qml/examples/unity-webapps-example-facebookmessenger/main.qml --app-id=unity-webapps-qml-facebookmessenger-example
Path=/usr/share/unity-webapps-qml/examples/unity-webapps-example-facebookmessenger
Name=FacebookMessengerWebContainerExample
GenericName=FacebookMessenger WebBrowser Container Example
Icon=facebook-facebook.com
Terminal=false
