[Desktop Entry]
Name=FacebookMessengerWebappsQMLExample
Encoding=UTF-8
Type=Application
Exec=/usr/bin/unity-webapps-qml-launcher --qml=/usr/share/unity-webapps-qml/examples/unity-webapps-example-facebookmessenger/main.qml --app-id=unity-webapps-qml-facebookmessenger-example
Path=/usr/share/unity-webapps-qml/examples/unity-webapps-example-facebookmessenger
GenericName=FacebookMessenger WebBrowser Container Example
Icon=qmlscene
Terminal=false
