[Desktop Entry]
Type=Application
Exec=qmlscene /usr/share/unity-webapps-qml/examples/basic-webview/main.qml
Path=/usr/share/unity-webapps-qml/examples/basic-webview
Name=Unity WebApp QML Comonent - Basic API Showcase App
GenericName=Unity WebApp QML Comonent for Ubuntu Basic API Showcase App
Icon=drive-multidisk-symbolicx
Terminal=false
