[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=qmlscene /usr/share/unity-webapps-qml/examples/unity-webapps-example-bbcnews/main.qml
Path=/usr/share/unity-webapps-qml/examples/unity-webapps-example-bbcnews
Name=Unity WebApp QML Component - Example using BBCNews binding
GenericName=Unity WebApp QML Component for Ubuntu Example using BBCNews binding
Icon=drive-multidisk-symbolic
Terminal=false
