[Desktop Entry]
Type=Application
Exec=qmlscene /usr/share/unity-webapps-qml/examples/webapps-app-model/main.qml
Path=/usr/share/unity-webapps-qml/examples/webapps-apps-model
Name=Unity WebApp QML Comonent - Example of WebApps Applications Model
GenericName=Unity WebApp QML Comonent for Ubuntu Example of WebApps Applications Model
Icon=drive-multidisk-symbolic
Terminal=false
